<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-9vBkvmYXEuxKEww9v-_zXFehvBHqyqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589852586520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhi</string>
	<key>PROJECT_ID</key>
	<string>misrhealthinsurance</string>
	<key>STORAGE_BUCKET</key>
	<string>misrhealthinsurance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589852586520:ios:b8c8a70da767d82032496d</string>
</dict>
</plist>